{% extends 'base.html' %}

{% block head_title %}
{{ question.question_text }} | {{ block.super }}
{% endblock head_title %}

<script>

{% block jquery %}
var endpoint = "/api/index/data/"
var defaultData{{ question.strid }} = []
var labels{{ question.strid }} = [];

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels{{ question.strid }} = data.labels{{ question.strid }}
        defaultData{{ question.strid }} = data.default{{ question.strid }}
        console.log()
        setChart{{ question.strid }}()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)

    }
})



function setChart{{ question.strid }}(){
    var ctx = document.getElementById("myChart{{ question.strid }}");
    var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: labels{{ question.strid }},
        datasets: [{
            label: '# of Votes',
            data: defaultData{{ question.strid }},
            backgroundColor: [
                'rgba(139, 93, 207, 0.5)',
                'rgba(166, 132, 216, 0.5)',
                'rgba(185, 162, 220, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
            ],
            borderColor: [
                'rgba(139, 93, 207, 1)',
                'rgba(166, 132, 216, 1)',
                'rgba(185, 162, 220, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)'
            ],
            borderWidth: 1,
        }]
    },
    options: {
        legend: {
        display:false
    },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
            }],
            xAxes: [{
                ticks: {
                    beginAtZero:true
                },
            }]
        }
    }

});
}


{% endblock %}

</script>


{% block content %}



<div class='col-sm-8 col-md-offset-2 text-center pilar'>
        <div class="col-sm-12">
        </br>
         <div class='text-center'><p>{{ question.user }} asking: </p>
            <h3>{{ question.question_text }}</h3>

            <div>
            <canvas id="myChart{{ question.strid }}" width="800" height="500"></canvas>
            </div>
        </div>

    <div class="col-sm-6 col-sm-offset-3 votedornot">

            {% if request.user not in voters %}
        <div class="col-sm-12">
        <div class="btn-group">
            <form action="{% url 'polls:vote' question.slug %}" method="post">
            {% csrf_token %}
            <button type="button" class="btn btn-default dropdown-toggle vote" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-object-align-bottom"></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            {% for choice in choiceset %}
            <li class="text-center" style="padding: 5px;"><button type="submit" class="btn btn-light butt" name="choice" value="{{ choice.id }}">{{ choice.choice_text }}</button></li>
            {% endfor %}
             </ul>
            </form>
        </div>
        </div>

            {% else %}
            <div class="col-sm-12 votedornot">
            <span class="label label-danger">Already voted</span>
            </div>
            {% endif %}
<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
        </div>
    {% if request.user not in question.askers  %}
        <div class="col-sm-6 col-sm-offset-3">
        <form action="{% url 'polls:add-choice' question.slug %}" method="post">{% csrf_token %}

            <div class="input-group">
            <input type="text" class="form-control" placeholder="your choice" name="choicetext">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Submit</button>
            </span>
            </div>
        </form>
        </div>

            {% endif %}



<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5">
</div>



</div>



{% endblock content %}
