{% load staticfiles %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Pollsar{% endblock head_title %}</title>


    {% include 'base/bootstrap_defaults.html' %}
    {% include 'base/js.html' %}
    {% include 'base/messages_display.html' %}
    {% include 'base/css.html' %}
    <link rel="stylesheet" href='{% static "css/base.css" %}' />
</head>


<body>


<div class='container'>
    <ol class="breadcrumb">
        <li><big><b><a href="/">Pollsar</a></b></big></li>
        <li><a href="{% url 'polls:create' %}">Create a poll</a></li>

        {% if not request.user.is_authenticated %}
        <li class="pull-right"><a href="{% url 'login' %}">Login</a></li>
        <li class="pull-right"><a href="{% url 'register' %}">Register</a></li>
        {% else %}
        <li class="pull-right"><a href="{% url 'logout' %}">Logout</a></li>
        <li class="pull-right">Asker:   {{ user }}</li>
        {% endif %}
    </ol>
{% block content %}



{% endblock content %}
</div>


<script>

    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })


</script>
</body>

</html>