{% extends 'base.html' %}




<script>

{% block jquery %}

{% for question in latest_question_list %}
var endpoint = "api/index/data/"
var defaultData{{ question.strid }} = []
var labels{{ question.strid }} = [];

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels{{ question.strid }} = data.labels{{ question.strid }}
        defaultData{{ question.strid }} = data.default{{ question.strid }}
        console.log()
        setChart{{ question.strid }}()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)

    }
})



function setChart{{ question.strid }}(){
    var ctx = document.getElementById("myChart{{ question.strid }}");
    var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: labels{{ question.strid }},
        datasets: [{
            label: '# of Votes',
            data: defaultData{{ question.strid }},
            backgroundColor: [
                'rgba(139, 93, 207, 0.5)',
                'rgba(166, 132, 216, 0.5)',
                'rgba(185, 162, 220, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
                'rgba(215, 206, 229, 0.5)',
            ],
            borderColor: [
                'rgba(139, 93, 207, 1)',
                'rgba(166, 132, 216, 1)',
                'rgba(185, 162, 220, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)',
                'rgba(215, 206, 229, 1)'
            ],
            borderWidth: 1,
        }]
    },
    options: {
        legend: {
        display:false
    },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                },
            }],
            xAxes: [{
                ticks: {
                    beginAtZero:true
                },
            }]
        }
    }

});
}

{% endfor %}
{% endblock %}

</script>



{% block content %}




<div class='bottom-buffer row'>
    <form method="GET" action="">
        <div class="col-sm-6 col-sm-offset-3">
        <div class="input-group">
        <input class="form-control" type="text" name="q" placeholder="Searchapolla" value="{{ request.GET.q }}"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search  <i class="fa fa-search"></i></button>
            </span>
            </div>
        </div>
    </form>
    </div>

<div class='col-sm-8 col-md-offset-2 text-center pilar'>
    {% if not latest_question_list %}
    <h3>No polls are available with this keyword.</h3>
    {% endif %}


    <div class='row'>
        <div class='col-sm-12'>
           {% for question in latest_question_list %}
            <div class='text-center'><p>{{ question.user }} asking: </p>
        <h3><a href="{{ question.get_absolute_url }}"> >> {{ question.question_text }} << </a></h3>

        </br>
            <canvas id="myChart{{ question.strid }}" width="800" height="500"></canvas>
        </br></br></br></br></br></br>
            {% endfor %}
        </div>
    </div>
</div>



</div>

{% endblock content %}

