[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

dj-database-url = "==0.4.2"
django = "==1.11.28"
django-crispy-forms = "==1.7.0"
gunicorn = "==19.7.1"
whitenoise = "*"
